body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

.banner {
    height: 380px;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;

   
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.product {
    flex: 0 5 calc(25% - 20px);
    margin: 5px;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    max-height: 130px;
    border: none;
    border-radius: 20px;
    margin-top: -30px;
}



#submit {
    background-image:linear-gradient(to right, #333, #222222); 
    width: 70%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
}
#submit:hover{
    background-image:linear-gradient(to right, #202020, #202020 ); }

.product p {
    
    letter-spacing: 0px;
    height: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons img {
    width: 30px;
    margin: 0 15px;
    cursor: pointer;
}

.credits {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1110px) {

    img {
    max-width: 250px;
    max-height: 250px;
    border: none;
    border-radius: 15px;
    margin-left: -30px;
    margin: 0 auto;
    
text-align: center;
}

.banner {
    height: 400px;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
   
}

#submit{
    background-image:linear-gradient(to right, #333, #222222); 
    width: 70%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
}

.product p {
    
    letter-spacing: 0px;
    height: 10px;
    text-align: center;
}

nav{
    display: none;
}

h1{
    
}


}

#submit:hover{
    background-image:linear-gradient(to right, #202020, #202020 ); }

    
